# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [9]:
import pandas as pd

In [13]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
rate = ratings[ratings.rating == 5]
movies.title[rate.groupby(['movieId'])['rating'].count().head(1)]

47    Mighty Aphrodite (1995)
Name: title, dtype: object

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
data = pd.read_csv('power.csv')

In [4]:
filtered = data.query('country == ["Latvia", "Lithuania", "Estonia"] and category == [4, 12, 21] and year >= 2005 and year <= 2010 and quantity > 0')
filtered['quantity'].sum()

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [12]:
df=pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')[1]
df

,Unnamed: 0,а баБаЛб,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
0,NaN,GBP/RUB,991845,-,994431,"-0,26 %",-02586,24.10.2020
1,NaN,EUR/RUB,903995,-,903995,"0,00 %",00000,24.10.2020
2,NaN,USD/RUB,760500,-,762250,"-0,23 %",-01750,24.10.2020
3,NaN,JPY/RUB,07261,-,07276,"-0,21 %",-00015,24.10.2020
4,NaN,CNY/RUB,113733,-,113993,"-0,23 %",-00261,24.10.2020
5,NaN,CHF/RUB,841081,-,842638,"-0,18 %",-01557,24.10.2020
6,NaN,ааВбаО,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
7,NaN,EUR/USD,11861,-,11820,"0,34 %",00041,24.10.2020
8,NaN,EUR/GBP,09098,-,09093,"0,06 %",00006,24.10.2020
9,NaN,EUR/JPY,1242300,-,1242100,"0,02 %",00200,24.10.2020
10,NaN,EUR/CHF,10724,-,10724,"0,00 %",00000,24.10.2020
11,NaN,ааОаЛаЛаАб аЁаЈа,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
12,NaN,USD/EUR,08431,-,08431,"0,01 %",00001,24.10.2020
13,NaN,USD/GBP,07668,-,07665,"0,03 %",00002,24.10.2020
14,NaN,USD/JPY,1047400,-,1047600,"-0,02 %",-00200,24.10.2020
15,NaN,USD/CHF,09042,-,09046,"-0,04 %",-00004,24.10.2020
16,NaN,аЏаПаОаНбаКаАб аИаЕаНаА,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
17,NaN,JPY/EUR (100:1),08100,-,08000,"0,03 %",00000,24.10.2020
18,NaN,JPY/GBP,00073,-,00073,"0,05 %",00000,24.10.2020
19,NaN,JPY/USD,00096,-,00096,"0,02 %",00000,24.10.2020
20,NaN,JPY/CHF (100:1),08700,-,08600,"0,19 %",00000,24.10.2020
21,NaN,аЄбаНб ббаЕбаЛаИаНаГаОаВ,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
22,NaN,GBP/USD,13042,-,13042,"0,00 %",00000,24.10.2020
23,NaN,GBP/JPY,1366019,-,1366699,"-0,05 %",-00680,24.10.2020
24,NaN,GBP/EUR,11000,-,10999,"0,00 %",00001,24.10.2020
25,NaN,GBP/CHF,11796,-,11798,"-0,02 %",-00002,24.10.2020
26,NaN,аЈаВаЕаЙбаАббаКаИаЙ ббаАаНаК,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
27,NaN,GBP/CHF,11796,-,11798,"-0,02 %",-00002,24.10.2020
28,NaN,EUR/CHF,10724,-,10724,"0,00 %",00000,24.10.2020
29,NaN,JPY/CHF (100:1),08700,-,08600,"0,19 %",00000,24.10.2020
30,NaN,USD/CHF,09042,-,09046,"-0,04 %",-00004,24.10.2020
31,NaN,аЃаКбаАаИаНбаКаАб аГбаИаВаНаА,абаЕаДаЛаОаЖаЕаНаИаЕ,аЁаПбаОб,абаЕаДбаДббаЕаЕ аЗаАаКбббаИаЕ,%,ааБбаОаЛббаНаОаЕ аЗаНаАбаЕаНаИаЕ,абаЕаМб
32,NaN,EUR/UAH,335805,-,336007,"-0,06 %",-00202,24.10.2020
33,NaN,USD/UAH,283128,-,283275,"-0,05 %",-00147,24.10.2020
34,NaN,CHF/UAH,313129,-,313150,"-0,01 %",-00021,24.10.2020
35,NaN,GBP/UAH,369257,-,369561,"-0,08 %",-00304,24.10.2020

# Задание 4
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [10]:
def clas(rate) :
    if rate<=2 :return('low')
    if 2<rate<=4 :return('mid')
    if rate>=4.5 :return('high')

In [11]:
    rating = pd.read_csv("ratings.csv")
rating['class']=rating['rating'].apply(clas)
rating.head()

   userId  movieId  rating  timestamp class
0       1        1     4.0  964982703   mid
1       1        3     4.0  964981247   mid
2       1        6     4.0  964982224   mid
3       1       47     5.0  964983815  high
4       1       50     5.0  964982931  high

# Задание 5
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [5]:
dat=pd.read_csv('keywords.csv')
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
def geo(str):
    for i in str.split(' '):
        if i in geo_data['Центр'] :return('Центр')
        elif i in geo_data['Северо-Запад']: return('Северо-Запад')
        elif i in geo_data['Дальний Восток']: return('Дальний Восток')
    return('undefined')
dat['region']=dat['keyword'].apply(geo)
dat.tail(10)

                          keyword  shows     region
99990           сколько лет обаме   3799  undefined
99991                сергей жорин   4056  undefined
99992    остаться в живых 5 сезон   3696  undefined
99993  петростат официальный сайт   3634  undefined
99994      мк газета свежий номер   3750  undefined
99995      эльдорадо старый оскол   3705  undefined
99996         frigate для firefox   3630  undefined
99997                      укрсиб   3630  undefined
99998     погода в ялте на неделю   3688  undefined
99999                        ггму   3630  undefined

# Задание 6
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [22]:
join = ratings.merge(movies, how='left')
rating = join.groupby('title').mean().reset_index()[['title', 'rating']]
rating.head()

                                               title    rating
0  "BLOW THE NIGHT!" Let's Spend the Night Togeth...  3.000000
1                   "Great Performances" Cats (1998)  2.896648
2                         #1 Cheerleader Camp (2010)  2.111111
3                                   #Captured (2017)  3.750000
4                            #Female Pleasure (2018)  3.666667

In [44]:
years = [str(i) for i in range(1950,2010)]
def production_year(title):
    for year in years:
        if str(year) in title :return(year)
    return('1900')
rating['year']=rating['title'].apply(production_year)
rating.sort_values('rating', ascending=False).head(10)

                                title  rating  year
18213            Full of Grace (2015)     5.0  1900
18663                  Geordie (1955)     5.0  1955
18508     Garfield In Paradise (1986)     5.0  1986
28687               Lost Woods (2012)     5.0  1900
18509    Garfield in the Rough (1984)     5.0  1984
28684                Lost Time (2014)     5.0  1900
57203  Who Killed Chea Vichea? (2010)     5.0  1900
28677              Lost Rivers (2013)     5.0  1900
57206        Who Killed Johnny (2013)     5.0  1900
18605   Generation Baby Buster (2011)     5.0  1900